/** cta.scss */
/** ---------------------------------------------------------------------- */
@use 'global' as *;

.cta {
    padding: 5% 10% 0;
    margin: 0;
    max-width: unset;

    .box {
        background-color: #025157;
        color: #fff;
        padding: 5%;
        border-radius: 10px;
    
        h2 {
            font-family: "Alegreya", serif;
            font-size: 34px;
            max-width: 340px;
            line-height: 1.3;
        }

        p {
            color: #fff;
            margin-top: 15px;
            line-height: 25px;
            font-weight: 400;
            font-size: 17px;
        }

        form {
            
            input {
                vertical-align: middle;
                border-radius: 8px;
                border: 1px solid #b6b6b6;
                padding: 6px 20px;
                width: 50%;
                max-width: 250px;
            }
        
            button {
                background-color: #67b54b;
                color: #fff;
                border: none;
                border-radius: 8px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                padding: 6px 20px;
                margin-left: -10px;
            }
              

            +p {
                color: #b3cbcd;
                margin-top: 15px;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.6;
                max-width: 340px;
            }
        }
    }
}

.cta .box p > a {
    color: #6abf4b;
}
