/** faq.scss */
/** ---------------------------------------------------------------------- */

@use 'global' as *;

.faq {
    background-color: white;
    padding-bottom: 120px;
}
  
.faq h2 {
    @extend %base-title;
    margin-bottom: 60px;
}
  
.faq .card-header {
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.125);
}
  
.faq .card-header h2 > button {
    color: #025157;
    font-size: 28px;
}
  
.faq .card .card-body a {
    color: #6abf4b;
}
