/** media-queries.scss */
/** ---------------------------------------------------------------------- */

@use 'global' as *;

@media (max-width: 575px) {

    main {
        margin-top: 130px;
    }
    
    h1 {
        font-size: 30px;
    }
}

@media (max-width: 575px) {

    .banner > img {
        width: 100%;
    }
}

@media (max-width: 575px) {

    .promo {
        flex-direction: column;
        max-width: 90%;
        width: 90%;
        margin-bottom: 4em;
    }

    .promo .publish {
        margin-left: 0;
        margin-top: 2em;
    }

    .promo .publish h3 {
        @include mixin-mq-matcha-title;
    }
  
    .promo .explanatory-video > video {
        width: 95%;
    }
  
    .publish {
        margin-top: 10px;
    }

}


@media (max-width: 575px) {
    
    .publish > form {
        flex-direction: column;
    }
  
    .publish > form > div {
        height: 50px;
        margin-top: 10px;
    }
  
    .publish > form > div > input {
        width: 65%;
    }
}

@media (max-width: 575px) {

    .success-stories .stories-carousel {
        margin-top: 1.5em;
    }

    .success-stories {
        flex-direction: column;
    }

    .success-stories .overview {
        padding-left: 0;
        padding-right: 0;
    }

    .success-stories .overview h2 {
        @include mixin-mq-matcha-title;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .success-stories .stories-carousel .card .card-media img {
        width: 100%;
        max-height: 60vw;
    }

    .success-stories .stories-carousel .card .card-media .company img {
        max-width: 75%;
    }

    .success-stories .stories-carousel .card .card-media .company {
        width: 50px;
        height: 50px;
    }

    .success-stories .stories-carousel .card .card-body h3 {
        font-size: 15px;
        line-height: 20px;
    }

    .success-stories .stories-carousel .card .card-body .results p {
        font-size: .8rem;
    }

    .success-stories .stories-carousel .card .card-body,
    .success-stories .stories-carousel .card .card-footer {
        padding: .9em;
        padding-top: 0;
        margin: 0;
    }
}

@media (max-width: 575px) {

    .how-does-it-work .title {
        @include mixin-mq-matcha-title;
        margin-top: 1.2em;
    }

    .how-does-it-work .description {
        max-width: 100%;
    }

    .how-does-it-work .steps {
        flex-direction: column;
        margin-top: 2em;
    }

    .how-does-it-work .steps .card-step {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .how-does-it-work .steps .card-step .card-step-image {
        height: 200px;
    }
}

@media (max-width: 575px) {

    .features {
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 0;
        padding-right: 0;
    }
    
    .feature-image {
        display: none;
    }
}

@media (max-width: 575px) {

    .faq h2 {
        @include mixin-mq-matcha-title(15px, 20px);
    }    
}
