/** try-it.scss */
/** ---------------------------------------------------------------------- */
@use 'global' as *;


.try-it {

    padding: 5% 5% 2%;
    background-color: #96d178;
    margin-top: -30px;
    
    h2 {
        @extend %base-title;
    }
  
    form {
        margin-top: 20px;
        margin-bottom: 15px;
    }
  
    p {
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
    }

    input {
        border-radius: 8px;
        border: 1px solid #b6b6b6;
        padding: 6px 20px;
        width: 50%;
        max-width: 250px;
    }

    button {
        height: 100%;
        border-radius: 8px;
        background-color: #025157;
        color: #fff;
        border: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 6px 20px;
        margin-left: -10px;
    }
}
